<div class="w-100 pt-50 bg">
    <div class="bg text-center py-5 ">
        <div>

            <img src="../assets/avataaars.svg" alt="" class="w-25">
        </div>
        <div class="text-white">
            <h5 class="big fw-bolder">start Framework</h5>
            <div class="d-flex justify-content-center align-items-center">
                <div class="line me-2"></div>
                <div>

                    <i class="fa-solid fa-star "></i>
                </div>
                <div class="line ms-2"></div>
            </div>
            
            <h6 class="fw-light">Graphic Artist - Web Designer - Illustrator</h6>
        </div>
    </div>
</div>